<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <title>This is Lynn's website</title>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Lora:ital,wght@0,600;1,500;1,600&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
  <style> 
      @import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abril+Fatface&family=Lora:ital,wght@0,600;1,500;1,600&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap'); 
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  {% include 'partials/nav_macro.html' %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% include 'partials/footer.html' %}
  <script defer src="{{ url_for('static', filename='nav.js') }}"></script>
</body>
</html>
