<!-- templates/news.html -->
{% extends 'base.html' %}
{% block title %}News{% endblock %}
{% block content %}
<section class="news" id="news">
  <h1>Recent News</h1>
    <div class="time">
      <ul class="timeline">
          <li>
              <div class="direction-r">
                  <div class="flag-wrapper">
                      <span class="flag">Language test</span>
                      <span class="time-wrapper"><span class="time">November 8, 2022 </span></span>
                  </div>
                  <div class="desc">I took IELTS test this day. my overall score is 6.5, 
                      and speaking, writing and listening scores all are 6.0, reading score is 8.5. 
                      </div>
              </div>
          </li>
          <li>
              <div class="direction-1">
                  <div class="flag-wrapper">
                      <span class="flag">Publications</span>
                      <span class="time-wrapper"><span class="time">October 25, 2022</span></span>
            </div>
          <div class="desc">My third works has been published on BMC informatics today.  Welcome to read this paper</div>
              </div>
          </li>
          <li>
              <div class="direction-r">
                  <div class="flag-wrapper">
                      <span class="flag">Cooperation</span>
                      <span class="time-wrapper"><span class="time">August 11, 2022</span></span>
                  </div>
                  <div class="desc">Starting a new work about protein design. It's glad to work with Pro.Cai, and my main job involves 
                      significant feature selection.</div>
              </div>
          </li>
      </ul>
  </div>
</section>

{% endblock %}