<!-- templates/lynn.html -->
{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<section class="course" id="course">
    <h1>About me </h1>
    <p>Hello, I'm open and friendly. Please feel free to contact me if you have any questions 
        about my works <br> or look forward to cooperating with me.</p>

    <div class="row">
        <div class="course-col" >
            <h3>Interests</h3>
            <ul>
                <li><a>Bioinformatics</a></li>
                <li><a>Machine Learning</a></li>
                <li><a>Out-of-Distribution Generation</a></li>
                <li><a>Large Language Model</a></li>
                <li><a>Neuroscience</a></li>
            </ul>
        </div>
        <div class="course-col">
            <h3>Degree</h3>
            <ul>
                <li><a>Bs.c in Statistics at <br>Hainan Normal University</a></li>
                <li><a>Ms.c in Complex System and Data Analysis at <br> Shenzhen University</a></li>
                <li><a>Phd candidate in informatics at the University of Illinois Urbana-Champaign </a></li>
            </ul>
        </div>
        <div class="course-col">
            <h3>Skills</h3>
            <div class="skills-list">
                <div class="skill-item">
                    <span>Python</span>
                    <div class="stars">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="skill-item">
                    <span>R/SPSS</span>
                    <div class="stars">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                    </div>
                </div>
                <div class="skill-item">
                    <span>HTML/CSS/JavaScript</span>
                    <div class="stars">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                    </div>
                </div>
                <div class="skill-item">
                    <span>MATLAB</span>
                    <div class="stars">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                    </div>
                </div>
                <div class="skill-item">
                    <span>C++</span>
                    <div class="stars">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                    </div>
                </div>
                <div class="skill-item">
                    <span>MySQL</span>
                    <div class="stars">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}