<!-- templates/publications.html -->
{% extends 'base.html' %}
{% block title %}Publications{% endblock %}
{% block content %}
<section class="publications" id="publications">
  <h1>Publications</h1>

  <div class="row">
      <div class="publication-col">
          <ul>
              <li><a><span>Zhu, L.</span>, Wang, X., Li, F. et al. PreAcrs: a machine learning framework for identifying anti-CRISPR proteins. BMC
                  Bioinformatics 23, 444 (2022). <a href="https://doi.org/10.1186/s12859-022-04986-3"</a>
                      https://doi.org/10.1186/s12859-022-04986-3</li>
              <li><a><span>Zhu Lin</span>, Li W. Roles of Physicochemical and Structural Properties of RNA-Binding Proteins in Predicting the Activities
                  of Trans-Acting Splicing Factors with Machine Learning[J]. International journal of molecular sciences. (2022) 
                  <a href="https://www.mdpi.com/1422-0067/23/8/4426"</a>
                  https://www.mdpi.com/1422-0067/23/8/4426</li>
              <li><a><span>Zhu Lin</span>, Davari M D, Li W. Recent advances in the prediction of protein structural classes: Feature descriptors and
                  machine learning algorithms[J]. Crystals. (2021) <a href="https://doi.org/10.3390/cryst11040324"</a>
                   https://doi.org/10.3390/cryst11040324</li>
              <li><a>Li-Min Wang, Run-Ze Wang, Yu-Ting Xiong, Hao-Sen Wang; <span>Zhu Lin</span>, Ke Zhang, Fu-Rong Gao. Guaranteed Cost
                  Iterative Learning Control for Multi-Phase Batch Processes[J]; Journal of Shanghai Jiaotong University(Science); (2018)
                  <a href="https://hdl.handle.net/1783.1/95040"</a>https://hdl.handle.net/1783.1/95040</li>
              <li><a><span>Zhu Lin</span>, Hao-Sen Wang, Run-Ze Wang, Ke-Da Wang, Li-Min Wang, Peng Wang; Batch process 2D input and output
                  Constraint Control Method with Time Delay; (Patent)</a></li>
              <li><a>Yi-Xin Wang, <span>Zhu Lin</span>, Ke-Da Cao, Shuang Wu, Run-Ze Wang, Li-Min Wang, Peng Wang; Design Method of
                  Two-dimensional Anti-interference Predictive Controller for Multi-stage Intermittent Process; (Patent)</a></li>
              <li><a>Wei-Ping Luo, Yi-Xin Wang, <span>Zhu Lin</span>, Ke-Da Cao, Shuang Wu, Run-Ze Wang, Li-Min Wang, Peng Wang; Multi-stage
                  Intermittent Process 2D Linear Tracking Fault-tolerant Control Method. (Patent)</a></li>        
          </ul>
      </div>
  </div>

</section>
{% endblock %}