
<!-- templates/research.html -->
{% extends 'base.html' %}
{% block title %}Research{% endblock %}
{% block content %}
<section class="campus" id="campus">
  <h1>Recent Projects</h1>

  <div class="campus-row">
    <div class="campus-col">
        <div class="image-box"> 
            <img src="{{ url_for('static', filename='images/anti3.png') }}">
            <div class="layer">
                <p> This project is using amino acid sequences to predict the anti-CRISPR proteins
                    based on machine learning methods</p>
            </div>
        </div>
        <h3><b><a href="https://en.wikipedia.org/wiki/Anti-CRISPR" target="_blank">Anti-CRISPRs</a></b></h3>
    </div>

    <div class="campus-col">
        <div class="image-box">
            <img src="{{ url_for('static', filename='images/factor3.png') }}">
            <div class="layer">
                <p>Exploring the roles of physicochemical and structural properties in predicting the activities of Trans-Acting Splicing Factors</p>
            </div>
        </div>
        <h3><b><a href="https://en.wikipedia.org/wiki/Trans-acting" target="_blank">Trans-Acting Splicing Factor</a></b></h3>
    </div>

    <div class="campus-col">
        <div class="image-box">
            <img src="{{ url_for('static', filename='images/off2.gif') }}">
            <div class="layer">
                <p>Using deep learning methods to quantify CRISPR Off-Target activities with mismatches and indels</p>
            </div>
        </div>
        <h3><b><a href="https://en.wikipedia.org/wiki/Off-target_genome_editing" target="_blank">CRISPR Off-Target</a></b></h3>
    </div>
</div>
</section>
{% endblock %}
